body
{
    background-color:yellow;
    color:green;
    font-size:50px;
    text-align: center;
}

.topNav{
    background-color:green;
    padding:20px 0 20px 0;
    text-align:center;
    text-decoration:none;

}

.topNav li{
    display:inline-block;
    padding-right:50px;
    text-decoration:none;
}

iframe{
    width:555px;
    height:500px;
}

li{
    text-decoration:none;
    color:white;
}